.container{
    display: flex;

}

.card{
    padding: 23px 12px;
    /* border:2px solid red; */
    margin:23px 12px;
    background-color: aquamarine;
    box-shadow: 12px 12px red;

}

.card h2 {
    text-shadow: 12px 13px blue;
}