.container{
    background-color:rgb(130, 28, 226);
    border:10px solid rgb(44, 195, 233);
    padding:100px;
    margin:34px;
    
    /* padding-left:50px;
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px; */

/* how to gave the paddig in the 1 line for all */
padding: 50px 50px 50px 50px;
 /* padding: top bottom left right */
 border-radius: 10px ;
}