html{
    font-size: 25px;
}.container{
        font-size: 10px;
        width:100vw;
        height:138vh;
        border:2px solid red;

}

h1{
    text-align: center;
}

/* #first{
    font-size: 3em;
    padding: 3rem;
}

#second{
    font-size: 3rem;
    padding: 3rem;
} */